@inherits LayoutComponentBase

<div class="container d-flex justify-content-center mt-5">
    <div class="w-100" style="max-width: 500px;">
        @Body
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>